<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Cho mượn</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/css/borrow.css">
  <script src="https://kit.fontawesome.com/0c2db3ef80.js" crossorigin="anonymous"></script>
  <nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <p class="navbar-brand">PTIT</p>
      </div>
      <ul class="nav navbar-nav navbar-right">
        <!-- 6 -->
        <li id="home"><a href="/home"><i class="fas fa-home"></i>Trang chủ</a></li>
        <li id="about"><a href="/borrow"><i class="fas fa-archive"></i>Mượn</a></li>
        <li id="contact"><a href="/manage"><i class="fas fa-user-cog"></i>Quản Lý</a></li>
        <li id="contact"><a href="/manageLoanOnline"><i class="far fa-calendar-check"></i> Duyệt mượn</a></li>
        <li id="log-out"><a href="/logOut"><i class="fas fa-sign-out-alt"></i>Đăng xuất</a></li>
      </ul>

    </div>
  </nav>

<body>
  <div class="borrow">
    <div class="container-body">
      <div class="row">
        <!-- <div class="col-lg-1">
                <i class="fas fa-id-card fa-2x"></i>
                <i class="fas fa-id-badge fa-2x"></i>
                <i class="far fa-hospital fa-2x"></i>
                <i class="fas fa-phone-square-alt fa-2x"></i>
                <i class="fas fa-luggage-cart fa-2x"></i>
                <i class="far fa-sticky-note fa-2x"></i>
              </div>   -->
        <div class="col-lg-6">
          <h3 class="labelDK">Cho mượn</h3>
          <form action="/borrow" method="POST">
            <div class="row">
              <div class="col-lg-1">
                <i class="fas fa-id-card fa-2x"></i>
              </div>
              <div class="col-lg-11">
                <input type="text" name="mssv" class="form-control" placeholder="Mã số sinh viên" required autofocus>
                <p class="err">
                  <%= errMSSV %>
                </p>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-1">
                <i class="fas fa-id-badge fa-2x"></i>
              </div>
              <div class="col-lg-11">
                <input type="text" name="name" class="form-control" placeholder="Họ và tên" required>
                <p class="err">
                  <%= errFullName %>
                </p>
              </div>
            </div>
            <div class="row up-magin-top">
              <div class="col-lg-1">
                <i class="far fa-hospital fa-2x"></i>
              </div>
              <div class="col-lg-11">
                <input type="text" name="roomName" class="form-control" placeholder="Tên phòng" required>
              </div>
            </div>
            <div class="row up-magin-top">
              <div class="col-lg-1">
                <i class="fas fa-phone-square-alt fa-2x"></i>
              </div>
              <div class="col-lg-11">
                <input type="text" name="phone" class="form-control" placeholder="Số điện thoại" required>
                <p class="err">
                  <%= errPhone %>
                </p>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-1">
                <i class="fas fa-luggage-cart fa-2x"></i>
              </div>
              <div class="col-lg-11">
                <% for (let index=0; index < loanHome.length; index++) { %>
                  <div class="equiForm">
                    <h6 class="bold">
                      <%=loanHome[index].name %>
                    </h6>
                    <input name="select" type="checkbox" value="<%=loanHome[index].name %>">
                    <input type="text" name="count" class="SL" placeholder="Số lượng">
                  </div>

                  <% } %>
                    <p class="err">
                      <%= errEquipment %>
                    </p>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-1">
                <i class="far fa-sticky-note fa-2x"></i>
              </div>
              <div class="col-lg-11">
                <input type="text" name="note" class="form-control" placeholder="Lưu ý">
              </div>
            </div>
            <button type="submit" class="btn btn-primary btn-lg btn-add"> Thêm </button>
          </form>
        </div>
        <div class="col-lg-6">
          <img class="img-sing-up"
            src="https://previews.123rf.com/images/skypicsstudio/skypicsstudio1903/skypicsstudio190300242/124490095-vector-illustration-of-graphic-designer-team-computer-drawing-tools-and-accessories-design-studio-or.jpg"
            alt="">
        </div>
      </div>
    </div>
  </div>

  <%- include("footer") -%>