<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kiểm tra lịch sử cho mượn</title>
    <script src="https://kit.fontawesome.com/0c2db3ef80.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/manageStaffAdmin.css">
    
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="#">Ptit</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample05"
          aria-controls="navbarsExample05" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExample05">
          <ul class="navbar-nav mr-auto">
              <li class="nav-item ">
                  <a class="nav-link" href="/homeAdmin"><i class="fas fa-user-plus"></i> Thêm nhân viên <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item ">
                  <a class="nav-link" href="/updateStaff"><i class="fas fa-address-card"></i> Quản lý nhân viên</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="/borrowAdmin"><i class="fas fa-archive"></i> Cho mượn</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="/manageAdmin"><i class="fas fa-user-cog"></i> Quản lý cho mượn</a>
              </li>
              <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown05" data-toggle="dropdown"
                      aria-haspopup="true" aria-expanded="false"><i class="fas fa-folder-open"></i> Thiết bị</a>
                  <div class="dropdown-menu" aria-labelledby="dropdown05">
                      <a class="dropdown-item" href="/addEquipment">Thêm thiết bị</a>
                      <a class="dropdown-item" href="/manageEquipment">Quản lý thiết bị</a>
                  </div>
              </li>
              <li class="nav-item active">
                <a class="nav-link" href="/historyLoan"><i class="fas fa-history"></i> Kiểm tra lịch sử nhân viên</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/manageLoanOnAdmin"><i class="fas fa-check"></i> Xác nhận mượn trực tuyến</a>
          </li>
          </ul>
          <form class="form-inline my-2 my-lg-0">
            <a style="color: aliceblue;" href="/AdminLogOut" btn btn-outline-success my-2 my-sm-0><i class="fas fa-sign-out-alt"></i> Đăng xuất</a>
          </form>   
      </div>
  </nav>
  </head>
<body>
    <main role="main">

        <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="manage">
        <div class="jumbotron">
          <div class="container">
            <h1 class="display-3">Kiểm tra lịch sử cho mượn tài khoản <%= history.username %> </h1>
          </div>
        </div>
  
        <div class="container">
          <!-- Example row of columns -->
          <div class="row">
              <div class="col-md-4">
                <h2 class="center-h2">Sau khi sửa</h3>
              </div>
              <div class="col-md-4">
                <h3></h3>
              </div>
              <div class="col-md-4">
                <h2 class="center-h2">Trước khi sửa</h3>
              </div>
            <% var i=0 %> 
            <% history.edit.forEach(function(item){  %>
                
                <div class="col-md-4 boder-div border border-primary">
                <h6>Mã số sinh viên : <%= item.MSSV %> </h6>
                <p>Tên sinh viên : <%= item.studentName %> </p>
                <p>Số điện thoại : <%= item.phone %> </p>
                <p>Phòng : <%= item.roomName %> </p>
                <p>Ngày mượn : <%= item.day %> </p>
                <% item.equipmentList.forEach(element => {  %>
                    <div class="row">
                        <div class="col-md-6">
                            <label>Vật dụng mượn</label>
                        </div>
                        <div class="col-md-6">
                            <p><%=  element.name  %>  <p class="setSL">SL: <%=  element.count  %></p> </p>
                           
                        </div>
                    </div>
                    <% }); %>
                <p>Lưu ý : <%= item.note %> </p>
            </div>
            <% i++; %>
            <% if(i%2===1) { %>  
            <div class="col-md-4">
                <img class="img-arrow" src="https://i.pinimg.com/736x/51/f1/6b/51f16b2e14e2a0d4e7e7e05d1f7cda4c.jpg" alt="transfer-img">
            </div>
            <% } %> 
            <% }); %> 
            
          </div>
  
          <hr>
  
        </div> <!-- /container -->
      </div>  
      </main>
      <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"></script>
</body>
</html>